# Compiled class file
/.gradle/
/.idea/
/cache/
/config/
/crash-reports/
/gradle/
/libraries/
/logs/
/plugins/
/versions/
/world/
/world_nether/
/world_the_end/

/banned-ips.json
/banned-players.json
/bukkit.yml
/commands.yml
/eula.txt
/gradlew
/gradlew.bat
/help.yml
/ops.json
/permissions.yml
/server.jar
/server.properties
/spigot.yml
/usercache.json
/version_history.json
/whitelist.json